(defnode root)
(defchain finder
  1 (BigInt) = .b1
  "eip1967.HastenScript._scripts.v0"
  (Hash.Keccak256) (BigInt) (BigInt.Subtract .b1)
  (BigInt.ToHex)
  (Log "_scripts")
  "eip1967.HastenScript._environments.v0"
  (Hash.Keccak256) (BigInt) (BigInt.Subtract .b1)
  (BigInt.ToHex)
  (Log "_environments"))
(schedule root finder)
(run root)